[submodule "chef-repo/cookbooks/apps"]
	path = chef-repo/cookbooks/apps
	url = git://github.com/getaroom/chef-apps.git
[submodule "chef-repo/cookbooks/users"]
	path = chef-repo/cookbooks/users
	url = git://github.com/opscode-cookbooks/users.git
[submodule "chef-repo/cookbooks/minitest-handler"]
	path = chef-repo/cookbooks/minitest-handler
	url = git://github.com/btm/minitest-handler-cookbook.git
[submodule "chef-repo/cookbooks/chef_handler"]
	path = chef-repo/cookbooks/chef_handler
	url = git://github.com/opscode-cookbooks/chef_handler.git
